* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.container {
  min-width: 375px;
  background-color: white;
  margin: 0 auto;
}

h2 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.2rem;
  padding: 0.4rem 0;
}

h4 {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

i {
  color: #0065fc;
}

.white {
  color: white;
}

.lightgrey {
  color: lightgrey;
}

.black {
  color: black;
}

.to-border {
  border: solid 0.15rem #eee;
  border-radius: 100%;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
}

.star {
  letter-spacing: -1px;
}

/*
* 
**
***
_____________________________________________________
HEADER
_____________________________________________________

***
**
*
 */

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  width: 7.5rem;
  height: auto;
}

.header__title {
  order: 1;
  width: 50%;
  padding: 1.25rem;
}

.header__sub {
  order: 2;
  width: 50%;
  text-align: right;
  font-size: 1.2rem;
  padding: 1.25rem;
  font-weight: 800;
  color: #0065fc !important;
}

.header__link {
  order: 3;
  width: 100%;
  display: flex;
}

.header__link a {
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  padding-top: 0;
  border-bottom: 0.25em solid #f2f2f2;
}

.header__link .active {
  border-bottom: 0.25rem solid #0065fc;
  color: #0065fc;
}

/*
* 
**
***
_____________________________________________________
Recherche / Filtre
_____________________________________________________

***
**
*
 */

.section {
  padding: 1.8rem 1.25rem;
}

.section__search {
  display: flex;
  padding: 2rem 0;
}

.section__img {
  background-color: #f2f2f2;
  width: 3.25rem;
  height: 3.25rem;
  padding: 0 1.125rem;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.section__input {
  border: 0.0625rem solid #f2f2f2;
  padding-left: 1rem;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.section__button {
  background-color: #0065fc;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 0;
  border: none;
  outline: none;
  border-radius: 1rem;
  margin-left: -10px;
  cursor: pointer;
}

.section__button:active {
  border: 0.25rem solid black;
}

.section__filters {
  display: flex;
  flex-wrap: wrap;
}

.section__filters a {
  border: 0.15rem solid lightgray;
  border-radius: 3.125rem;
  padding-right: 1.2rem;
  margin: 0.4rem 0.5rem;
  margin-left: 0;
  font-size: 1rem;
  font-weight: bold;
  align-items: middle;
}

.section__filters a:hover {
  background-color: lightgrey;
  border: 0.15rem solid #0065fc;
  transition: 0.4s;
}

.section__icon {
  padding: 1rem;
  margin: -0.15rem;
  margin-left: -0.25rem;
  margin-right: 0.55rem;
  background-color: #deebff;
  border-radius: 100%;
}

.econ {
  padding: 1rem 0.875rem;
}

.family {
  padding: 1rem 1.125rem;
}

.section__infos {
  display: flex;
  align-items: center;
  padding: 1.8rem 0;
}

.section__infos i {
  font-size: 0.75rem;
}

/*
* 
**
***
_____________________________________________________
Column
_____________________________________________________

***
**
*
 */

.column {
  display: flex;
  flex-direction: column-reverse;
}

/*
* 
**
***
_____________________________________________________
MAIN
_____________________________________________________

***
**
*
 */

.main {
  padding: 1.8rem 1.25rem;
}

.main h2 {
  padding-bottom: 1.5rem;
}

.main__cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.main__card {
  padding: 0.25rem;
  box-shadow: rgba(100, 100, 111, 0.3) 4px 4px 10px 0px;
  border-radius: 1.2rem;
  margin-bottom: 1rem;
}

.main__img {
  width: 20rem;
  height: 7rem;
  object-fit: cover;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

.main__card h3,
.main__card div,
.main__card p {
  padding: 0.25rem;
  padding-left: 0.7rem;
}

.main__showMore {
  padding: 1.25rem 0;
  padding-bottom: 0;
}
/*
* 
**
***
_____________________________________________________
ASIDE
_____________________________________________________

***
**
*
 */

.aside {
  padding: 1.8rem 1.25rem;
  background-color: #f2f2f2;
}

.aside h2 {
  padding-bottom: 1.5rem;
}

.aside__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside__title i {
  font-size: 1.5rem;
}

.aside__card {
  display: flex;
  padding: 0.25rem;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
  box-shadow: rgba(100, 100, 111, 0.3) 4px 4px 10px 0px;
}

.aside__img {
  width: 8rem;
  height: 9rem;
  object-fit: cover;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.aside__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  padding-right: 0.3rem;
  flex: 1;
}

/*
* 
**
***
_____________________________________________________
ARTICLE
_____________________________________________________

***
**
*
 */

.article {
  padding: 1.8rem 1.25rem;
}

.article__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article__card--style {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
  box-shadow: rgba(100, 100, 111, 0.3) 4px 4px 10px 0px;
}

.article__img {
  width: 20rem;
  height: 8.5rem;
  object-fit: cover;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

.article__txt {
  padding: 1rem;
  font-size: 1rem;
}

.article__trio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*
* 
**
***
_____________________________________________________
FOOTER
_____________________________________________________

***
**
*
 */

footer {
  width: 100%;
  background-color: #f2f2f2;
}

.footer {
  padding: 1.8rem 1.25rem;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.footer__about,
.footer__hebergements,
.footer__assistance {
  flex: 1;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
}

.footer__about h3,
.footer__hebergements h3,
.footer__assistance h3 {
  padding: 1rem 0;
}

.footer__about a,
.footer__hebergements a,
.footer__assistance a {
  padding: 0.5rem 0;
}

/*
* 
**
***
_____________________________________________________
TABLETTE
_____________________________________________________

***
**
*
 */

@media only screen and (min-width: 420px) {
  .section,
  .aside,
  .main,
  .article,
  .footer {
    padding: 1.8rem 2.5rem;
  }

  .section__search {
    justify-content: center;
  }

  .section__filters {
    justify-content: center;
  }

  .main__cards {
    justify-content: space-evenly;
  }

  .main__card {
    margin: 0 1rem;
    margin-bottom: 1.2rem;
  }

  .main__img {
    width: 14.8rem;
  }

  .aside__cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .aside__card {
    width: 20.5rem;
    margin: 0 1rem;
    margin-bottom: 1.2rem;
  }

  .article__cards {
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .article__card--style {
    margin: 0 1rem;
    margin-bottom: 1.2rem;
  }

  .article__img {
    width: 18.75rem;
  }

  .act1 {
    height: 21.2rem;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .footer__about,
  .footer__hebergements,
  .footer__assistance {
    min-width: 250px;
    flex: 1;
  }
}

/*
* 
**
***
_____________________________________________________
DESKTOP
_____________________________________________________

***
**
*
 */

@media only screen and (min-width: 1170px) {
  .section,
  .aside,
  .main,
  .article,
  .footer {
    padding: 0;
  }

  .container {
    max-width: 1440px;
    padding: 0 3.125rem;
  }

  .header {
    padding-top: 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .header__title {
    order: 1;
    width: 100%;
    padding: 0;
    padding-top: 1.9rem;
  }

  .header__sub {
    order: 3;
    width: auto;
    padding-top: 2.8rem;
    border-top: 0.25rem solid white;
  }

  .header__link {
    order: 2;
    width: auto;
  }

  .header__link a {
    padding: 1.25rem;
    border-bottom: none;
    width: auto;
    padding-top: 2.8rem;
    border-top: 0.25rem solid white;
  }

  .header__link .active {
    border-bottom: none;
    border-top: 0.25rem solid #0065fc;
  }

  .section__search {
    justify-content: left;
    padding: 1.5rem 0;
  }

  .section__button {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 0;
    width: 8.5rem;
    border-radius: 0;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
  }

  .section__button i {
    display: none;
  }

  .section__filter {
    display: flex;
    align-items: center;
  }

  .section__filters {
    justify-content: left;
    margin-left: 1rem;
  }

  .section__filters a {
    margin: 0 1rem;
  }

  .column {
    flex-direction: row;
    justify-content: space-between;
  }

  .main {
    max-width: 63rem;
    margin-right: 2rem;
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 1rem;
  }

  .main__card {
    background-color: white;
  }

  .aside {
    max-width: 25rem;
    padding: 2rem;
    border-radius: 1rem;
  }

  .aside__card {
    width: 21rem;
    margin: 0;
    margin-bottom: 1.2rem;
  }

  .article {
    padding: 3rem 0;
  }

  .article__cards {
    justify-content: space-evenly;
  }

  .act1 {
    height: 24.375rem;
  }

  .act2 {
    height: 11.25rem;
  }

  .act3 {
    height: 6.875rem;
  }

  .act5 {
    height: 8.75rem;
  }

  .act6 {
    height: 9.6875rem;
  }

  .article__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer {
    padding: 2rem 3.125rem;
  }
}
