/*
* 
**
***
_____________________________________________________
MOBILE
_____________________________________________________

***
**
*
 */

@media only screen and (max-width: 375px) {
  * {
    font-size: 16px;
  }

  .container {
    padding: 0;
    min-width: 375px;
  }

  .column {
    flex-direction: column-reverse;
  }

  .article__cards {
    flex-direction: column;
  }

  .aside {
    flex: 1;
    padding: 1.25rem 0;
    min-width: none;
    border-radius: 0;
  }

  .main {
    flex: 1;
    min-width: 375px;
    padding: 1.25rem 0;
    margin-right: 0;
    margin-bottom: 2.75rem;
    background-color: white;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 2.125rem 0rem;
    min-width: 375px;
    background-color: #f2f2f2;
  }
}
