* {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

h2 {
  font-size: 1.25rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  background-color: lightgray;
}

i {
  color: #0065fc;
}

.container {
  background-color: white;
  max-width: 83.75rem;
  min-width: 61.25rem;
  margin: 0 auto;
  padding: 0 3.125rem;
}

.to-border {
  border: solid 0.2rem #eee;
  border-radius: 100%;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
}

/*
* 
**
***
_____________________________________________________
HEADER
_____________________________________________________

***
**
*
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
}

.header__logo {
  width: 7.5rem;
  height: auto;
}

.header__link a {
  font-size: 1.2rem;
  padding: 1.25rem;
  padding-top: 2.8125rem;
  border-top: 0.25rem solid white;
}

.header__link a:nth-child(1) {
  border-top: 0.25rem solid #0065fc;
  color: #0065fc;
}

.header__link a:nth-child(3) {
  color: #0065fc;
  font-weight: bold;
}

/*
* 
**
***
_____________________________________________________
NAV
_____________________________________________________

***
**
*
 */
.nav__search {
  display: flex;
  padding: 0.6rem 0;
}

.nav__img {
  vertical-align: middle;
  background-color: #f2f2f2;
  width: 1.25rem;
  height: 3.75rem;
  padding: 0 1.25rem;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.nav__input {
  width: 16rem;
  height: 3.6rem;
  border: 0.0625rem solid #f2f2f2;
  background-color: white;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
}

.nav__button {
  height: 3.75rem;
  width: 9.7rem;
  padding: 0.6rem;
  border: none;
  outline: none;
  font-size: 700;
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  font-size: 1.2rem;
}

.nav__button:active {
  border: 0.25rem solid black;
}

.nav__filter {
  max-width: 59rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav__filters {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.nav__icon {
  padding: 1rem;
  margin: -0.2rem; /* rajouter des marges négatives */
  margin-left: -0.25rem;
  margin-right: 0.75rem;
  background-color: #deebff;
  border-radius: 100%;
}

.nav__filter a {
  padding-right: 0.625rem;
  border: 0.2rem solid lightgray;
  border-radius: 3.125rem;
}

.nav__infos {
  padding: 1.25rem 0 2rem 0;
}

/*
* 
**
***
_____________________________________________________
Column
_____________________________________________________

***
**
*
 */
.column {
  display: flex;
  justify-content: space-between;
}
/*
* 
**
***
_____________________________________________________
MAIN
_____________________________________________________

***
**
*
 */
.main {
  flex: 0.7;
  min-width: 32rem;
  background-color: #f2f2f2;
  padding: 1.25rem;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-bottom: 2.75rem;
}

.main__cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.main__card {
  width: 15.3125rem;
  height: 12.5rem;
  padding: 0.25rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main__img {
  width: 15.3125rem;
  height: 7.1875rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}

.main__card h3,
.main__card div,
.main__card p {
  padding: 0.25rem;
}

/*
* 
**
***
_____________________________________________________
ASIDE
_____________________________________________________

***
**
*
 */
.aside {
  flex: 0.3;
  min-width: 21rem;
  padding: 1.25rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  margin-bottom: 2.75rem;
}

.aside__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside__card {
  width: 21.5625rem;
  height: 9.0625rem;
  padding: 0.25rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 0.625rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: left;
}

.aside__img {
  width: 8.125rem;
  height: 9.0625rem;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  object-fit: cover;
}

.aside__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.2rem 1rem;
}

/*
* 
**
***
_____________________________________________________
ARTICLE
_____________________________________________________

***
**
*
 */

.article__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3.75rem;
}

.article__card--style {
  margin: 0.25rem;
  border-radius: 0.625rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.article__card {
  width: 18.75rem;
  height: 27.8125rem;
}

.article__group1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__card2 {
  width: 18.75rem;
  height: 14.6875rem;
}

.article__card3 {
  width: 18.75rem;
  height: 10.3125rem;
}

.article__group2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__card4 {
  width: 18.75rem;
  height: 12.1875rem;
}

.article__card5 {
  width: 18.75rem;
  height: 12.8125rem;
}

.article__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.act1 {
  width: 18.75rem;
  height: 24.375rem;
}

.act2 {
  width: 18.75rem;
  height: 11.25rem;
}

.act3 {
  width: 18.75rem;
  height: 6.875rem;
}

.act5 {
  width: 18.75rem;
  height: 8.75rem;
}

.act6 {
  width: 18.75rem;
  height: 9.6875rem;
}

.article__txt {
  padding: 0.6rem;
}

/*
* 
**
***
_____________________________________________________
FOOTER
_____________________________________________________

***
**
*
 */

.footer {
  display: flex;
  padding: 2.125rem 3.125rem;
  max-width: 83.75rem;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.footer__about,
.footer__hebergements,
.footer__assistance {
  flex: 1;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
}

.footer__about a,
.footer__hebergements a,
.footer__assistance a {
  padding: 0.3rem 0;
}
