* {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.25rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  background-color: lightgray;
}

i {
  color: #0065fc;
}

.container {
  background-color: white;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 3.125rem;
}

/*
* 
**
***
_____________________________________________________
HEADER
_____________________________________________________

***
**
*
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__logo {
  width: 120px;
  height: auto;
}

.header__link a {
  font-size: 1.2rem;
  padding: 1.25rem;
  padding-top: 45px;
  border-top: 4px solid white;
}

.header__link a:hover {
  background-color: #deebff;
}

.header__link a:nth-child(1) {
  border-top: 4px solid #0065fc;
  color: #0065fc;
}

.header__link a:nth-child(3) {
  color: #0065fc;
  font-weight: bold;
}

/*
* 
**
***
_____________________________________________________
NAV
_____________________________________________________

***
**
*
 */
.nav__search {
  display: flex;
  padding: 0.6rem 0;
}

.nav__img {
  vertical-align: middle;
  background-color: #f2f2f2;
  width: 20px;
  height: 60px;
  padding: 0 1.25rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav__input {
  width: 255px;
  height: 58px;
  border: 1px solid #f2f2f2;
  background-color: white;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
}

.nav__button {
  height: 60px;
  width: 155px;
  padding: 0.6rem;
  border: none;
  outline: none;
  font-size: 700;
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav__button:active {
  border: 4px solid black;
}

.nav__filter {
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* padding: 0.3rem 0; */
}

.nav__icon {
  padding: 1rem;
  background-color: #deebff;
  border-radius: 100%;
}

.nav__filter a {
  padding-right: 10px;
  border: 3px solid lightgray;
  border-radius: 50px;
}

.nav__infos {
  padding: 1.25rem 0 2rem 0;
}

/*
* 
**
***
_____________________________________________________
Column
_____________________________________________________

***
**
*
 */
.column {
  display: flex;
  justify-content: space-between;
}
/*
* 
**
***
_____________________________________________________
MAIN
_____________________________________________________

***
**
*
 */
.main {
  flex: 0.7;
  min-width: 510px;
  background-color: #f2f2f2;
  padding: 1.25rem;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-bottom: 2.75rem;
}

.main__cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.main__card {
  width: 245px;
  height: 200px;
  padding: 0.25rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main__img {
  width: 245px;
  height: 115px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}

.main__card h3,
.main__card div,
.main__card p {
  padding: 0.25rem;
}

/*
* 
**
***
_____________________________________________________
ASIDE
_____________________________________________________

***
**
*
 */
.aside {
  flex: 0.3;
  min-width: 350px;
  padding: 1.25rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  margin-bottom: 2.75rem;
}

.aside__card {
  width: 345px;
  height: 145px;
  padding: 0.25rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: left;
}

.aside__img {
  width: 130px;
  height: 145px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.aside__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.2rem 1rem;
}

/*
* 
**
***
_____________________________________________________
ARTICLE
_____________________________________________________

***
**
*
 */

.article__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3.75rem;
}

.article__card--style {
  margin: 0.25rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.article__card {
  width: 300px;
  height: 445px;
}

.article__group1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__card2 {
  width: 300px;
  height: 235px;
}

.article__card3 {
  width: 300px;
  height: 165px;
}

.article__group2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__card4 {
  width: 300px;
  height: 195px;
}

.article__card5 {
  width: 300px;
  height: 205px;
}

.article__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.act1 {
  width: 300px;
  height: 390px;
}

.act2 {
  width: 300px;
  height: 180px;
}

.act3 {
  width: 300px;
  height: 110px;
}

.act5 {
  width: 300px;
  height: 140px;
}

.act6 {
  width: 300px;
  height: 155px;
}

.article__txt {
  padding: 0.6rem;
}

/*
* 
**
***
_____________________________________________________
FOOTER
_____________________________________________________

***
**
*
 */

.footer {
  display: flex;
  padding: 2.125rem 3.125rem;
  max-width: 1340px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.footer__about,
.footer__hebergements,
.footer__assistance {
  flex: 1;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
}

.footer__about a,
.footer__hebergements a,
.footer__assistance a {
  padding: 0.3rem 0;
}
