/*
* 
**
***
_____________________________________________________
TABLET
_____________________________________________________

***
**
*
 */

@media only screen and (max-width: 1160px) and (min-width: 376px) {
  * {
    font-size: 16px;
    box-sizing: border-box;
  }

  .container {
    padding: 0;
    width: 48rem;
    max-width: 48rem;
    min-width: 48rem;
  }

  /* HEADER */

  .header {
    display: block;
    padding: 0;
    width: 48rem;
    height: 8.25rem;
    margin-bottom: 2rem;
  }

  .header__sub1 {
    display: inline;
    font-weight: bold;
  }

  .header__sub2 {
    display: none;
  }

  .header__tittle {
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0065fc;
  }

  .header__link {
    display: flex;
    text-align: center;
  }

  .header__link a {
    flex: 1;
    font-size: 1.2rem;
    padding: 1.25rem;
    padding-top: 1.25rem;
    border-top: 0rem solid white;
    border-bottom: 0.2em solid #f2f2f2;
  }

  .header__link a:nth-child(1) {
    border-top: 0rem solid #0065fc;
    border-bottom: 0.2rem solid #0065fc;
    color: #0065fc;
  }

  /* header */

  /* NAV */

  .nav {
    padding: 0 1.25rem;
    width: 48rem;
  }

  .nav__search {
    margin-top: 1rem;
    justify-content: center;
  }

  .nav__img {
    width: 3.25rem;
  }

  .nav__button {
    width: 3.25rem;
    font-size: 0rem;
    border-radius: 1rem;
    margin-left: -10px;
  }

  .nav__button i {
    display: inline;
  }

  .nav__filter {
    display: block;
  }

  .nav__filters {
    flex-wrap: wrap;
    margin: 0;
  }

  .nav__filters a {
    border: 0.15rem solid lightgray;
    font-size: 1rem;
    margin: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.8rem;
  }

  .nav__infos {
    display: flex;
    align-items: start;
    padding: 1.25rem 0 2rem 0;
  }

  /* nav */

  .column {
    flex-direction: column-reverse;
  }

  /* MAIN */
  .main {
    padding: 2rem 1.25rem;
    width: 48rem;
    min-width: 0;
    background-color: white;
    margin-bottom: 0;
  }

  .main__cards {
    justify-content: space-evenly;
  }

  .main__card {
    width: 20.9rem;
    height: 12.5rem;
    padding: 0.25rem;
    margin-bottom: 1.2rem;
  }

  .main__img {
    width: 20.4rem;
  }

  .main__card h3,
  .main__card div,
  .main__card p {
    padding: 0.15rem;
    padding-left: 0.7rem;
  }

  /* main */

  /* ASIDE */
  .aside {
    padding: 2rem 1.25rem;
    width: 48rem;
    border-radius: 0;
    margin-bottom: 0;
  }

  .aside__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .aside__card {
    width: 20.9rem;
    height: 9.0625rem;
    margin-bottom: 1.2rem;
  }

  .aside__img {
    height: 8.56rem;
  }

  /* aside */

  /* ARTICLE */

  .article {
    padding: 0 1.25rem;
    width: 48rem;
  }

  .article__card {
    width: 20.9rem;
    height: 28.3125rem;
    margin-bottom: 1.2rem;
  }

  .article__card2,
  .article__card3,
  .article__card5,
  .article__card6 {
    width: 20.9rem;
    height: 12rem;
    margin-bottom: 1.2rem;
  }

  .act1 {
    width: 20.9rem;
  }

  .act2,
  .act3,
  .act5,
  .act6 {
    width: 20.9rem;
    height: 8.5rem;
  }

  /* article */

  /* FOOTER */

  .footer {
    padding: 2rem 1.25rem;
    width: 48rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__about,
  .footer__hebergements,
  .footer__assistance {
    flex: auto;
    padding: 0.6rem 0;
  }

  /* footer */
}
